[Desktop Entry]
Version=1.0
Type=Application
Name=My dev VM in a terminal
Icon=utilities-terminal-symbolic
Exec=gnome-terminal --maximize --tab  -- bash -c 'sshpass -pxenroot ssh root@10.71.79.226; exec bash'
NoDisplay=false
Categories=Network;
StartupNotify=false
Terminal=false
